#containerDiv {
    border: 1px solid black;
 
}
  
#tableGame, td {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 1px;
  border: 1px solid silver;
  border-collapse: collapse;

}






  